 /* @import 'mapbox-gl/dist/mapbox-gl.css'; */

.mapboxgl-canvas {
    /* position: fixed !important; */
    height: 100% !important;
}

/* #map {
    display: flex;
    height: 100%;
    width: 100%;
  } */